@import "grundlage.css";


td.left{
    float: right;
    margin-right: 5px;
    border-right: gray solid 1px;
}

.btn.btn-link{
    text-decoration: none;
    color: white;
    background-color: #37753b;
    width: 95%;
    height: 95%;
}
.btn.btn-link:hover{
    color: #00ff1c;
}
.card-header{
    background-color: #37753b;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.card{
    border-color: #37753b;
}

.rezensionKlasse{
    border-bottom: 1px solid #37753b;
}
.btn{
    height: 40px;
}
.custom-select{
    height: 40px;
}

/*Sterne*/

span.sternebewertung {
    float: Left;
}

span.sternebewertung:not(:checked) > input {
    display: None;
}

span.sternebewertung:not(:checked) > label {
    float: Right;
    width: 1em;
    padding: 0 .1em;
    overflow: Hidden;
    white-space: Nowrap;
    cursor: Pointer;
    font-size: 200%;
    line-height: 1.2;
    color: #D0D0D0;
    text-shadow: 1px 1px #B0B0B0, 2px 2px #606060, .1em .1em .2em rgba(0,0,0,.5);
    transition: all .5s;
}

span.sternebewertung:not(:checked) > label:before {
    content: '★ ';
}

span.sternebewertung > input:checked ~ label {
    color: #FFD700;
    text-shadow: 1px 1px #C06000, 2px 2px #904000, .1em .1em .2em rgba(0,0,0,.5);
}
