@import "grundlage.css";

/*Hier steht alles was beim Einkauswagen hinzukommt*/
.bildImEInkaufswagen {
    width: 200px;

}

ul.listeEinkaufswagen {
    list-style: none;
}

.listeEinkaufswagen {

}

.einkaufwagenBotton {

}

.fa {
    display: inline-block;
    text-rendering: auto;
    height: 1em;
}

.fa-trash{
    content: url("../images/trash.jpg");
}

#BetragTotal:after, #stkpreis:after{
    content: ' CHF';
}

#stkpreis, #anza{
    font-weight: bold;
}