body{
    padding-top: 0;
    background-color: #cfcece;
}

a {
    text-decoration: none !important;
    color: black;
}
a:visited{

}

a:hover{
    color: #37753b;

}

footer a:hover{
    color: #00ff1c;

}

.navbar{
    background-color: #37753b !important;
}

main div.container{

    background-color: white;
}

#hauptcontainer{
    border: #37753b solid 0.5em;
    border-bottom: 0;
    min-height: 103vh;
    padding-top: 5em ;
    padding-bottom: 2em;
}

.title{
    margin-bottom: 3em;
}

.title hr{
    border-top: 2px solid #37753b;
    margin-left: 5em;
    margin-right: 5em;
}

footer a, footer p{
    color: #e1e1e1;

}
footer div.container{
    padding-top: 1em;
    padding-bottom: 0.01em;
    border-left: #37753b;
    border-right: #37753b;
    background-color: #37753b;
    padding-left: 0;
}

#footercolrechts p{
    text-align: right;
    margin-right: 1em;
}

#footercollinks {
    text-align: left;
    margin-left: 0;
    padding-left: 30px;
}

footer p a{
    padding-right: 0;
}

.btn-outline-secondary{
    border-color: #37753b;
    color: black;
}

.btn-outline-secondary:hover{
    border-color: #37753b;
    background-color: #37753b;
    color: white;
}

.btn-outline-secondary:focus{
    border-color: #37753b !important;
    background-color: #37753b !important;
    color: white !important;


}

.imageRechner{

    width: 250px;
    /*height: 200px;*/
    margin-bottom: 1em;
}
.imageMonitor{

    width: 250px;
    /*height: 300px;*/
    margin-bottom: 1em;
}
.imageTastatur{

    width: 250px;
    /*height: 200px;*/
    margin-bottom: 1em;
}
.imageMaus{

    width: 250px;
    /*height: 200px;*/
    margin-bottom: 1em;
}
