@import "grundlage.css";

/*Carousel*/
.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(100%); /*Macht die Pfeile des Karussel schwarz*/

}

div.card{
    padding: 1em;
    border: 2px solid #37753b;
    min-width: 100px;
}

