@import "grundlage.css";

/*Hier steht alles was in der Kategorie ist*/
.kategorieItem {

}


ul.kategorieItem { /* list id  oder kann unter ul.Kate.. list style definiert werden? */
 list-style: none;

}

.btn.btn-outline-secondary{
 margin-right: 0.5em;
 margin-bottom: 0.5em;
}
/*
.popup {
 position: relative;
 display: inline-block;
 cursor: pointer;
}

.popup .popuptext {
 visibility: hidden;
 width: 160px;
 background-color: #555;
 color: #fff;
 text-align: center;
 border-radius: 6px;
 padding: 8px 0;
 position: absolute;
 z-index: 1;
 bottom: 125%;
 left: 50%;
 margin-left: -80px;
}

.popup .popuptext::after {
 content: "";
 position: absolute;
 top: 100%;
 left: 50%;
 margin-left: -5px;
 border-width: 5px;
 border-style: solid;
 border-color: #555 transparent transparent transparent;
}

.popup .show {
 content: "Produkt deim Einkaufswagen hinzugefügt";
 visibility: visible ;
 -webkit-animation: fadeIn 1s;
 animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
 from {opacity: 0;}
 to {opacity: 1;}
}

@keyframes fadeIn {
 from {opacity: 0;}
 to {opacity:1 ;}
}
*/